<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>front</title>

    <!-- Bootstrap -->
    <link  rel="stylesheet" href="<%=
      htmlWebpackPlugin.options.ejsVars.relativeStaticRoot
    %>/bootstrap-honoka/css/bootstrap.min.css"
        th:href="@{'/bootstrap-honoka/css/bootstrap.min.css'}" />

    <%
      // refs: https://www.npmjs.com/package/webpack-subresource-integrity
      for (const f in htmlWebpackPlugin.files.css) {
        const css = htmlWebpackPlugin.files.css[f];
    %>
      <link rel="stylesheet" th:href="<%=
        css.replace(htmlWebpackPlugin.options.ejsVars.relativeStaticRoot,
            '')
      %>" href="<%=
        htmlWebpackPlugin.options.ejsVars.relativeCompiledRoot
            + css
      %>" />
    <% } %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
    <div id="app"></div>
    <h1>htmlWebpackPlugin</h1>
    <pre><%=
      JSON.stringify(htmlWebpackPlugin, null, 2)
    %></pre>
    <h1>webpackConfig</h1>
    <pre><%=
      JSON.stringify(webpackConfig, null, 2)
    %></pre><%
      for (const chunk in htmlWebpackPlugin.files.chunks) {
        const js = htmlWebpackPlugin.files.chunks[chunk].entry;
    %>
      <script th:src="@{'<%=
        js.replace(htmlWebpackPlugin.options.ejsVars.relativeStaticRoot,
            '')
      %>'}" src="<%=
        htmlWebpackPlugin.options.ejsVars.relativeCompiledRoot
            + js
      %>"></script>
    <% } %>
  </body>
</html>
